.navbar {
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff; 
  border-radius: 50px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  margin: 16px auto; 
  width: 90%;
  max-width: 1200px;
}

.navbar .logo {
  width: 150px;
}

.navbar-menu {
  display: flex;
  list-style: none;
  gap: 24px;
  color: #49557e;
  font-size: 18px;
  font-weight: 500;
  text-transform: capitalize;
}

.navbar-menu li {
  cursor: pointer;
  transition: color 0.3s ease;
}


.navbar-right {
  display: flex;
  align-items: center;
  gap: 35px;
}

.navbar-right img {
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.navbar-right img:hover {
  transform: scale(1.1);
}

.navbar-search-icon {
  position: relative;
}

.navbar-search-icon .dot {
  position: absolute;
  top: -6px;
  right: -6px;
  min-width: 18px;
  height: 18px;
  background: #ff5722;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  padding: 2px;
}

.navbar-right button {
  background-color: #ff5722;
  color: #fff;
  border: none;
  padding: 10px 22px;
  border-radius: 9999px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease;
}

.navbar-right button:hover {
  background-color: #e64a19;
}

.navbar .active{
  padding-bottom: 2px;
  border-bottom: 2px solid #e64a19;
}

@media (max-width: 1050px)
{
  .navbar .logo
  {
    width: 140px;
  }
  .navbar-menu{
    gap: 20px;
    font-size: 17px;
  }
  .navbar-right{
    gap: 30px;
  }
  .navbar-right img{
    width: 22px;
  }
  .navbar-right button{
    padding: 8px 25px;
  }
}

@media (max-width:900px)
{
  .navbar .logo
  {
    width: 120px;
  }
  .navbar-menu{
    gap: 15px;
    font-size: 16px;
  }
  .navbar-right{
    gap: 20px;
  }
  .navbar-right img{
    width: 20px;
  }
  .navbar-right button{
    padding: 7px 20px;
    font-size: 15px;
  }
}

@media (max-width:750px)
{
  .navbar-menu{
    display: no;
  }
  
}